# Python 
__pycache__/ 
*.pyc 
*.pyo 
*.pyd 
.Python 
*.egg 
*.egg-info/ 
dist/ 
build/ 
 
# Environments 
.env 
venv/ 
env/ 
ENV/ 
.venv 
 
# Serverless 
.serverless/ 
.node_modules/ 
package-lock.json 
 
# IDE 
.vscode/ 
.idea/ 
*.swp 
*.swo 
*~ 
.DS_Store 
